h1 {
 color: blue; 
}
body {
text-align: center;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMyLpydfIthw8t7_aRm8-h-VHICnwJDiplyQ&s);
}
form {
  padding: auto;
}
form {
display: inline-block;
background-color: pink;
}
div {
  border: solid;
  border-color: white;
}
